
@media only screen and (max-width: 1000px) {
        .ImageAndText{
            display: flex;
            align-self: center;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items:center;
        } 

        body {

            // background-color: rgb(92, 111, 216);
            text-align: center;
            
            }
        h3{
                padding-left: 5%;
                padding-right: 5%;
                
            }
         
        .places{
                display: flex;
                width: 100%;
                align-items:center;
                flex-direction: row;
                padding: 5%;
                justify-content:center;
            }
        #widget{
            height:10%
        }    
        .location-page-break{
            padding-bottom: 50px;
        }
    
    }


@media only screen and (min-width: 1000px){   

   body {
//    background-color: rgb(92, 111, 216);
   text-align: center;
   
   }
   
   h3{
       padding-left: 5%;
       padding-right: 5%;
      
   }

   .places{
       display: flex;
       width: 100%;
       align-items:center;
       flex-direction: row;
       padding: 5%;
       justify-content:center;
   }


   .ImageAndText{
    display: flex;
    flex-direction: row;
    width: 100%;
    }

    #widget{
        height:10%
    }    
    .location-line-break{
        padding-bottom: 70px;
    }
}

