@import '../../Styles/styles.scss';
@import "~bootstrap/scss/bootstrap";
@import '../../Styles/constants.scss';

.image-and-text {
    display: flex;
    align-self: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
}

.getting-started {
    text-align: center;
}

.btn.btn-outline-primary {
    background-color: rgb(255, 255, 255);
    font-size: x-large
}

.btn.btn-primary {
    font-size: x-large
}

.places {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    padding: 5%;
    justify-content: center;
}
#widget {
    height: 10%;
}
.location-line-break {
    padding-bottom: 30px;
}

.location-image {
    width: 400px;
    height: 400px;
}

@media only screen and (max-width: 1000px) {

    .image-and-text {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .location-line-break {
        padding-bottom: 30px;
    }

    .location-image {
        padding-bottom: 20px;
    }

    .image-container {
        display: flex;
        align-items: center;
        align-self: center;
    }
}

@media only screen and (min-width: 1001px) {
    .location-image {
        padding-right: 25px;
    }

}

