@import '../Styles/constants';

.web-nav-bar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.web-nav-bar-list-item {
  float: left;
}

.page-headers{
  margin-left: 12.5%;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: #111;
}
  
.active {
  background-color: $color-primary;
}

.mobile-nav-bar-container{
  margin-bottom: 70px;
}

.mobile-nav-bar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.mobile-nav-bar-title {
  color: white;

}

.mobile-nav-bar #myLinks {
  display: none;
}

.mobile-nav-bar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.icon {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  color: white;
}
.closed-nav-bar{
  display: none;
}

.mobile-nav-bar a:hover {
  background-color: $color-primary;
  color: black;
}

.active {
  background-color: $color-primary;
  color: white;
}

@media only screen and (min-width: $two-column-max-pixels){
  .mobile-nav-bar{
    display: none;
  }
  .icon{
    display: none;
  }
}
@media only screen and (max-width: $two-column-min-pixels){
  .web-nav-bar{
    display: none;
  }
}