@import "~bootstrap/scss/bootstrap";
@import "../../Styles/styles.scss";

.admin-table tr {
    background-color: $dark-bg !important;
}

.nowrap {
    white-space: nowrap;
}

.btn-mobile {
    display: none;
    font-size: 12px;
}

.btn-responsive {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}

@media only screen and (max-width: $two-column-min-pixels)
{
    .hide-tablet {
        display: none;
    }

    .btn-responsive {
        @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
    }
}

@media only screen and (max-width: 768px) {
    .admin-table {
        font-size: 16px !important;
    }

    .btn-responsive {
        @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
    }
} 

@media only screen and (max-width: 650px) {
    .btn-mobile {
        display: unset;
    }

    .btn-column {
        padding: 3px !important;
    }

    .btn-desktop {
        display: none;
    }

    .hide-mobile {
        display: none;
    }

    .admin-table {
        font-size: 14px !important;
    }
}

@media only screen and (max-width: 480px) {
    .admin-table td {
        padding: 3px;
    }       
}

@media only screen and (max-width: 400px) {
    .btn-mobile {
        padding: 4px;
    }
}

