@import "../../Styles/constants";
@import '../../Styles/styles';



.search-sighting-page {
  margin: $gutter-width;
  height: 100%;
}
  
.search-sighting-form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
    
  
  .form-label {
    @include formLabel;
  }
  
  .form-input {
    @include formInput;
  }
  
  .submit-button {
     @include primaryButton;
  }
}
tr:first-child{
  background-color: $dark-bg
}
tr:nth-child(even){
  background-color: $accent-color
}
.results-table{
  background-color: $accent-color-dark
}


td,th {
  padding-left: 8px;
  padding-right: 8px;
}

.update-search-form{
  .form-label {
    padding: 7.5px
  }
  .form-input{
    margin-left: 5px
  }
  .update-search-button{
    @include primaryButton;
    margin-left: 16px
  }
}

.pagination{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: x-large;
  padding: 10px;

  .page{
    padding:5px
  }
  .previous-button,.next-button{
    color: $light-text;
    padding: 5px
  }
  .previous-button{
    :hover > & {
      cursor: pointer;
      
    }
  }
  
  .next-button{
    :hover > & {
      cursor: pointer;
      
    }
  }
 
}

