@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$main-header-font: 'Luckiest Guy', cursive;
$subheader-font: 'Raleway', sans-serif;
$body-font: 'Segoe UI', Arial, sans-serif;

$mobile-size-reg: 480px;
$mobile-size-sm: 400px;
$tablet-size-reg: 768px;
$tablet-size-sm: 650px;

$light-text:#e2e2e2;
$dark-text:#494b68;
$light-bg:#265077;
$dark-bg:#022140;
$accent-color: #489996;
$accent-color-dark: #3e8582;

$spacing-medium: 20px;
$gutter-width: $spacing-medium;
$two-column-max-pixels: 1000px; 
$two-column-min-pixels: 999px; 

@mixin font($font-size, $family: $body-font, $line-height: 1.5, $color: $light-text) {
  font-family: $family;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-decoration: none;
}

@mixin buttonFont() {
  @include font(17px, 2, $light-text);
  text-transform: uppercase;
  font-weight: bold;
}

@mixin titleFont() {
  @include font(40px, $main-header-font) ;
}

@mixin subtitleFont() {
  @include font(28px, $subheader-font);
}

@mixin bodyFont() {
  @include font(20px);
  font-weight: 300;
}

@mixin primaryButton() {
  @include buttonFont();
  border: none;
  background-color: $accent-color;
  border-radius: 5px;
}

@mixin formLabel() {
  @include bodyFont;
  display: block;
  margin: $spacing-medium 0;
}

@mixin formInput() {
  @include bodyFont;
  display: block;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  background-color: #FFFFFF;
  outline: none;
}