$color-primary: orange;
$color-foreground: black;
$color-background: #FFFFFF;
$spacing-medium: 20px;
$gutter-width: $spacing-medium;
$two-column-max-pixels: 1000px; 
$two-column-min-pixels: 999px; 

@mixin font($font-size, $line-height: 1.5, $color: $color-foreground) {
  font-family: "Segoe UI";
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-decoration: none;
}

@mixin buttonFont($color) {
  @include font(17px, 2, $color);
  text-transform: uppercase;
  font-weight: bold;
}

@mixin titleFont() {
  @include font(32px);
}

@mixin bodyFont() {
  @include font(20px);
}

@mixin primaryButton() {
  @include buttonFont($color-background);
  border: none;
  background-color: $color-primary;
  width: 100%;
}

@mixin formLabel() {
  @include bodyFont;
  display: block;
  margin: $spacing-medium 0;
}

@mixin formInput() {
  @include bodyFont;
  display: block;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
  background-color: transparent;
  outline: none;
}