@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$color-primary: orange;
$color-primary-lighter: lighten($color-primary, 10%);
$color-background: #FFFFFF;
$color-background-darker: darken($color-background, 10%);
$color-foreground: #111111;

$spacing-small: 10px;
$spacing-medium: 20px;

$gutter-width: $spacing-medium;

@mixin font($font-size, $line-height: 1.5, $color: $color-foreground) {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  text-decoration: none;
}

@mixin navFont() {
  @include font(24px, 2, $color-background);
}

@mixin homeLinkFont() {
  @include font(28px, 2, $color-background);
}

@mixin footerFont() {
  @include font(16px, 2, $color-background);
}

@mixin buttonFont($color) {
  @include font(17px, 2, $color);
  text-transform: uppercase;
  font-weight: bold;
}

@mixin titleFont() {
  @include font(32px);
}

@mixin labelFont() {
  @include font(14px, 1);
  text-transform: uppercase;
}

@mixin bodyFont() {
  @include font(20px);
}

@mixin primaryButton() {
  @include buttonFont($color-background);
  border: none;
  background-color: $color-primary;
  width: 100%;
}

@mixin secondaryButton() {
  @include buttonFont($color-primary);
  border: 1px solid;
  background-color: transparent;
  width: 100%;
}

@mixin formLabel() {
  @include labelFont;
  display: block;
  margin: $spacing-medium 0;
}

@mixin formInput() {
  @include bodyFont;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  outline: none;
}