@import "../../Styles/constants";
@import "~bootstrap/scss/bootstrap";

  
.submit-sighting-page {
  margin: $gutter-width;

  .title {
    @include titleFont;
  }
}

.submit-form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .form-label {
    @include formLabel;
  }

  .form-input {
    @include formInput;
  }

  .submit-button {
    @include primaryButton;
  }
}

@media only screen and (max-width: 600px) {
  .submit-sighting.form {
    width: 90%;
  }
}
