@import "../../Styles/constants";
@import "../../Styles/styles";

.submit-sighting-page {
  margin: $gutter-width;
}

.submit-sighting-form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .form-label {
    @include formLabel;
  }

  .form-input {
    @include formInput;
  }

  .submit-button {
    @include primaryButton;
  }
}

@media only screen and (max-width: 600px) {
  .submit-sighting.form {
    width: 90%;
  }
}
