@import "../../Styles/constants";
@import "../../Styles/styles";

.submit-sighting-page {
  margin: $gutter-width;
}

.submit-sighting-form {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .form-label {
    @include formLabel;
  }

  .form-input {
    @include formInput;
  }

  .submit-button {
    @include primaryButton;
  }

  #confirm-button, #back-button {
    margin-right: 6px;
  }

  input:disabled {
    background-color: rgb(202, 198, 198);
    color: $dark-text;
  }
}

@media only screen and (max-width: $tablet-size-sm) {
  .submit-sighting.form {
    width: 90%;
  }
}

@media only screen and (max-width: $mobile-size-reg) {
  .submit-sighting-form {
    font-size: 16px;
  }
}
